html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.bold {
    font-weight: bold;
}
img[src*="lego"] {
    width: auto;
    height: 2em;
    border: 1px solid black;
    border-radius: 50%;
}
.svg {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(293deg) brightness(99%) contrast(104%);
}
.logo {
    width: auto;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    background-color: rgba(211, 211, 211, 0.523);
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(0, 140, 255);
    color: white;

    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 3em;
    width: 100%;
}
.sidebar-logo {
    display: grid;
    grid-template-rows: 3em;
    grid-auto-flow: column;
    place-content: stretch;
    padding-top: 2em;
    gap: 1em;
    width: 100%;
}
.sidebar-logo a {
    padding-top: 4px;
    justify-self: center;
}
.sidebar button {
    background-color: rgb(0, 140, 255);
    border: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}
.sidebar-logo h1 {
    justify-self: start;
    align-self: center;
    color: #fff;
    font-size: 1.5em;
}
.sidebar .tabs {
    display: grid;
    grid-auto-rows: 2.5em;
}
.tabs button {
    grid-template-columns: 1fr 2fr;
}
.tabs a {
    place-self: center;
    margin-right: 5px;
}
.tabs h1 {
    justify-self: start;
    align-self: center;
    margin-left: .25em;
    color: #fff;
    font-size: 1.2em;
}
.sidebar .system {
    display: grid;
    grid-auto-rows: 2.5em;
}
.system button {
    grid-template-columns: 1fr 2fr;
}
.system a {
    place-self: center;
    margin-right: 5px;
}
.system button h1 {
    justify-self: start;
    align-self: center;
    margin-left: .25em;
    color: #fff;
    font-size: 1.2em;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3em 5em;
    grid-template-areas: 
    "search user"
    "header-logo actions";
    background-color: #fff;
    padding-left: 2em;
    padding-top: 1em;
    box-shadow: 0 5px 5px rgba(123, 123, 123, 0.506);
}
.search, .user {
    padding-bottom: 1em;
}
.header .search {
    grid-area: search;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content auto;
    margin-right: 3em;
    place-content: center;
}
.search input {
    height: 2em;
    width: 100%;
    margin-left: 1em;
    background-color: rgba(211, 211, 211, 0.281);
    border: 1px solid white;
    border-radius: 50px;
    padding-right: 500px;
}
.header .user {
    grid-area: user;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    place-items: center;
    gap: 2em;
}
.header .user img[src$="jpg"] {
    border: black 1px solid;
    border-radius: 50%;
    height: 2em;
}
.header-logo {
    grid-area: header-logo;

    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.header-logo-text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: .5em;
}
.header-logo-text h1 {
    font-size: 1.5em;
}
.header-logo img {
    border: #fff 1px solid;
    border-radius: 50%;
    border: black 1px solid;
    height: 4em;
}
.header .actions {
    grid-area: actions;

    display: grid;
    grid-template-rows: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25em;
    place-content: center;
}
.actions button {
    padding: .1rem 2em;
    background-color: rgb(53, 158, 245);
    border: none;
    border-radius: 50px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr .5fr;
    padding-left: 1.5em;
    padding-right: 2em;
    padding-top: 2em;
}
.proj-cards {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
    gap: 1.5em;
}

.projects .card {
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(123, 123, 123, 0.506);
    border-left: orange inset 10px;
    padding: 1em;
    padding-top: 1.5em;
    border-radius: 5%;
}
.card p {
    font-size: small;
    margin-bottom: 2em;
}
.card-buttons {
    padding-left: 65%;
    display: grid;
    /* grid-template-rows: max-content; */
    grid-auto-flow: column;
    gap: .5em;
}
.card img {
    width: auto;
    height: 1em;
}
.right-main {
    grid-column: 2 / 3;
    margin-left: 1em;

    display: grid;
    grid-template-rows: max-content max-content;
    gap: 1.5em;
}
.announcements {
    display: grid;
    grid-template-rows: 2em repeat(auto-fit, minmax(50px, max-content));
}
.trending {
    margin-top: 1em;
    display: grid;
    grid-template-rows: 2em repeat(auto-fit, minmax(50px, max-content));
}
.right-card {
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(123, 123, 123, 0.506);
    padding: 1.5em;
    border: #fff 1px solid;
    border-radius: 5%;
}
.right-card h4 {
    font-size: small;
}
.right-card p {
    font-size: x-small;
}
